/* src/assets/styles/global.css */

/* Define the custom font using @font-face */
@font-face {
  font-family: 'MyCustomFont';
  src: url('@/assets/fonts/HelveticaNeue.ttc') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the font globally */
body {
  font-family: 'MyCustomFont', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Additional global styles can go here */
